@import "tailwindcss";
@tailwind utilities;

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .link-redirect {
    @apply text-red-700 hover:underline font-bold transition-colors ease-in-out duration-300;
  }

  .button-solid {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap
           rounded font-semibold transition-all duration-200 
           focus:outline-none focus-visible:outline-none 
           px-4 py-2 text-sm cursor-pointer
           w-full bg-red-700 text-white border border-red-700 
           hover:bg-white hover:text-red-700 hover:border-red-700;
  }

  .button-outline {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap
           rounded font-semibold transition-all duration-200 
           focus:outline-none focus-visible:outline-none 
           px-4 py-2 text-sm cursor-pointer
           w-full bg-white text-red-700 border border-red-700 
           hover:bg-red-700 hover:text-white hover:border-red-700;
  }
}
